
body {
	background-color: #000;
}

h1 {
	font-size: 34px;
}

th {
	background: #31708f;
}

#logo {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 100px;
	background: #000;
}

nav {
	background-color: #fff;
}

nav ul {
	height: 50px;
	margin-right: 100px;
}

nav ul li {
	list-style: none;
    float: right;
}

nav li a {
	display: inline-block;
	text-decoration: none;
	outline: none;
	font-family: monospace;
	font-weight: 900;
	font-size: 16px;
	color: #000;
	transition: 1s;
	margin: 15px;
}

/*----------- End Header / Nav --------*/
#col-img {
	float: right;
	margin-top: 70px;
}

.row {
	margin-top: 70px;
	color: white;
}

#btn-download {
	text-decoration: none;
	background-color: #b30606;
	color: #fff;
	height: 50px;
	width: 200px;
	border: none;
	outline: none;
	font-weight: 900;
	padding: 15px;
	transition: 1s;
}

#btn-download:hover {
	text-decoration: none;
	border: 1px solid white;
	background-color: black;
	color: white;
}

#desc {
	text-transform: uppercase;
}

#desc div, #desc ul {
	font-size: 16px;
	font-family: monospace;
}

.win-info {
	color: #b30606;
    font-size: 20px;
    font-family: monospace;
    margin: 0px;
    margin-bottom: 10px;
}

.table-bordered {
	max-width: 750px;
	margin: 0 auto;
}

.license-info {
	background: green;
}

/*-------------- Java Page ---------*/
#code:nth-child(1) {
	background-color: #3c763d;
}

#code {
	font-size: 14px;
    background: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#exmple {
	margin-bottom: 10px;
	font-weight: bold;
}

#or-exmple {
	margin: 10px 0;
}

/*------ btn lang --------*/
#btn-lang {
	margin-bottom: 20px;
	border-radius: 0px;
}

/*---------------Keyboard Code Page -----------*/
#keycode
{
	font-family: 'Montserrat', 'sans-serif';
	margin: 30px auto 0;
	color: white;
	font-size: 150px;
	text-align:center;
}

#key_name 
{
	max-width : 600px;
	font-size: 50px;
	margin: 0px auto;
	font-family: 'Montserrat', 'sans-serif';
	text-transform: uppercase;
	text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    border-top: 1px solid #F5F5F5;
    box-shadow: inset 0 0 25px #E8E8E8, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333;
    text-shadow: 0px 1px 0px #F5F5F5;
}

#info-keycode
{
	text-transform:uppercase;
	text-align: center;
	font-size: 16px;
	color: white;
	margin-top: 20px;
}
